.lw_favorite_review_favorite_wrapper {
  border: 2px solid #171717;
  box-shadow: 0px 0px 20px 1px #171717;
  border-radius: 10px;
}

.lw_favorite_review_favorite_wrapper:hover {
  border: 2px solid #212121;
  box-shadow: 0px 0px 20px 1px #212121;
  border-radius: 10px;
  transition: all 0.5s ease-out;
}

.lw_favorite_review_favorite_header {
  text-align: center;
  margin-top: -10px;
  color: rgba(255, 255, 255, 0.65) !important;
}

.lw_favorites_review_favorite_btns {
  margin: 0px 5px;
}

.lw_favorites_review_favorite_btn_wrapper {
  text-align: center;
}

.lw_favorites_review_favorite_md_wrapper {
  width: 100%;
}
