.lw_favorite_review_favorite_header {
  text-align: center;
  margin-top: -10px;
  color: rgba(255, 255, 255, 0.65) !important;
}

.lw_favorites_review_favorite_btns {
  margin: 0px 5px;
}

.lw_favorites_review_favoritee_wrapper {
  text-align: center;
}
