.lw_bulletinboard_wrapper {
  width: 70vw;
}

@media (max-width: 820px) {
  .lw_bulletinboard_wrapper {
    width: 100vw;
  }
}

.lw_bulletinboard_header {
  text-align: center;
  margin-top: -10px;
  color: rgba(255, 255, 255, 0.65) !important;
}

.lw_bulletinboard_list_title {
  font-weight: 100 !important;
  font-size: 12px;
}

.lw_bulletinboard_content_wrapper {
  width: 80%;
  margin: auto;
}

.lw_bulletinboard_content_leavemessage_wrapper {
  margin-bottom: 20px;
}

.lw_bulletinboard_content_leavemessage_textarea {
  margin: 10px 0px;
  border: 1px solid #212121;
}

.lw_bulletinboard_content_btns_wrapper {
  text-align: end;
}

.lw_bulletinboard_content_message_wrapper {
  border: 2px solid #171717;
  box-shadow: 0px 0px 20px 1px #171717;
  border-radius: 10px;
}

.lw_bulletinboard_content_message_wrapper:hover {
  border: 2px solid #212121;
  box-shadow: 0px 0px 20px 1px #212121;
  border-radius: 10px;
  transition: all 0.5s ease-out;
}

.lw_bulletinboard_content_item {
  margin: 10px 0px;
}

.lw_bulletinboard_content_btn {
  margin: 0px 5px;
}

.lw_bulletinboard_footer_wrapper {
  text-align: end;
}

.lw_bulletinboard_footer_sorter_title {
  display: contents;
  margin: auto;
}

.lw_bulletinboard_list_title_btns {
  margin-left: 5px;
}

.lw_bulletinboard_footer_sorter_selector {
  margin: auto;
  margin-left: 10px;
}

.lw_bulletinboard_footer_pagination {
  display: contents;
}

.lw_bulletinboard_list_edit_textarea {
  margin-top: 5px;
}
