.lw_homePageLayoutSetup_wrapper {
  padding-inline-start: 0px;
}

.lw_homePageLayoutSetup_title {
  display: inline-block;
  color: rgba(255, 255, 255, 0.65);
  margin-left: 5px;
  text-align: center;
}

.lw_homePageLayoutSetupe_switch {
  display: inline-block;
}

.lw_homePageLayoutSetup_btn {
  margin: 0px 2px;
  color: rgba(255, 255, 255, 0.65);
}
