.lw_header_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #171717;
}

.lw_header_wrapper
  > ul
  > [class="ant-menu-overflow-item ant-menu-item ant-menu-item-selected"] {
  background-color: #212121 !important;
}

.lw_header_menu {
  width: 100%;
  background-color: #171717;
}

@media (max-width: 800px) {
  .lw_header_wrapper {
    padding-left: 0px;
  }
}

[class~="ant-menu"] {
  background-color: #171717 !important;
}
