.lw_lwlayout_wrapper {
  background: #171717;
  align-items: center;
}
.lw_lwlayout_space {
  width: 90%;
  margin: auto;
  display: flex;
}

.lw_lwlayout_space_home {
  width: 90%;
  margin: auto;
  display: flex;
  max-width: 1280px;
}

.lw_lwlayout_top_placeholder {
  height: 84px;
}

@media (max-width: 800px) {
  .lw_lwlayout_space {
    width: 100%;
  }
  .lw_lwlayout_space_home {
    width: 95%;
  }
}
