@media (min-width: 800px) {
  .lw_application_list_wrapper {
    display: none;
  }
}

@media (max-width: 800px) {
  .lw_application_list_wrapper {
    margin-left: 15%;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .lw_application_list_wrapper {
    margin-left: 5%;
    width: 400px;
  }
}
