.lw_applications_tableColsController_wrapper {
  padding-inline-start: 0px;
}

.lw_applications_tableColsController_title {
  display: inline-block;
  color: rgba(255, 255, 255, 0.65);
  margin-left: 5px;
  text-align: center;
}

.lw_applications_tableColsController_switch {
  display: inline-block;
}

.lw_applications_tableColsController_btn {
  margin-right: 10px;
  margin-bottom: 10px;
}
