.lw_applications_review_leetcode_header {
  text-align: center;
  margin-top: -10px;
}

.lw_applications_review_leetcode_btns {
  margin: 0px 5px;
}

.lw_applications_review_leetcode_wrapper {
  text-align: center;
}
