.lw_applications_review_applications_header {
  text-align: center;
  margin-top: -10px;
}

.lw_applications_review_applications_btns {
  margin: 0px 5px;
}

.lw_applications_review_applications_wrapper {
  text-align: center;
}
