.lw_leetcode_review_leetcode_header {
  text-align: center;
  margin-top: -10px;
  color: rgba(255, 255, 255, 0.65) !important;
}

.lw_leetcodes_review_leetcode_btns {
  margin: 0px 5px;
}

.lw_leetcodes_review_leetcode_wrapper {
  text-align: center;
}
