.lw_user_reviewuser_wrapper {
  border: 2px solid #171717;
  box-shadow: 0px 0px 20px 1px #171717;
  border-radius: 10px;
}

.lw_user_reviewuser_wrapper:hover {
  border: 2px solid #212121;
  box-shadow: 0px 0px 20px 1px #212121;
  border-radius: 10px;
  transition: all 0.5s ease-out;
}

.lw_user_reviewuser_action_buttons {
  margin: 5px 10px;
}
