.lw_edit_protfolio_btns {
  margin: 0px 5px;
}

.lw_edit_protfolio_btns_wrapper {
  text-align: right;
  padding-right: 20%;
}

.lw_edit_protfolio_header {
  text-align: center;
  margin-top: -10px;
}
