.lw_portfolio_card {
  width: 400px;
  height: 680px;
  background-color: #212121;
}

.lw_portfolio_card_title_icon {
  margin-right: 5px;
}

.lw_portfolio_card_timeline {
  color: rgba(255, 255, 255, 0.65);
  margin-left: -60px;
}
