.lw_hometopnav {
  text-align: center;
  margin: 50px 0px;
}

.lw_hometopnav_search_input {
  width: 60%;
  line-height: 30px;
  font-size: 25px;
  color: #fff;
  background-color: transparent;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
}

.lw_hometopnav_google_search {
  --border-height: 1px;
  --border-before-color: #212121;
  --border-after-color: #212121;
  --input-hovered-color: #212121;
  position: relative;
  width: var(--width-of-input);
}

.lw_hometopnav_search_btn {
  margin-left: 10px;
}

.lw_hometopnav_search_icon {
  font-size: 20px;
}

.lw_hometopnav_search_input:hover {
  background: var(--input-hovered-color);
}

.lw_hometopnav_search_input:focus {
  outline: none;
}

.lw_hometopnav_quicklinks {
  margin-top: 10px;
}

.lw_hometopnav_quicklinks_title {
  color: rgba(255, 255, 255, 0.65);
}
