.lw_components_card_extra_btn {
  margin: 0px 5px;
}

.lw_components_homecard {
  width: 350px;
  height: 500px;
  background-color: #212121;
}

.lw_components_homecard_iframe {
  width: 300px;
  height: 400px;
  border: 0px;
}
