.lw_components_wrapper {
  width: 100vw;
  margin-left: -10%;
}

@media (max-width: 820px) {
  .lw_components_wrapper {
    margin-left: 0;
  }
}

.lw_components_form_btns {
  margin: 5px;
}

.lw_components_form_btns_wrapper {
  text-align: right;
}

.lw_components_form_iframe_card {
  width: auto;
  height: auto;
  margin-left: 10%;
  text-align: center;
}

.lw_components_form_iframe {
  width: 50%;
  height: 800px;
  border: 2px solid #171717;
  box-shadow: 0px 0px 20px 1px #171717;
  border-radius: 10px;
}
